{% load i18n %}

{% block subject %}
{% blocktrans %}【Voteアプリ】本登録のご案内{% endblocktrans %}
{% endblock subject %}

{% block text_body %}

{{ first_name }} {{ last_name }}様

Voteアプリに仮登録いただき、ありがとうございます。

以下URLにアクセスして、本登録を完了してください。

{{ protocol }}://{{ domain }}/{{ url|safe }}

本登録頂くことで、Voteアプリのすべての機能がご利用頂けます。

メールに心当たりの無い場合はお手数ですが削除してください。

--------------------------------------
発行元：Voteアプリ事務局
--------------------------------------

■このメールは送信専用のアドレスより配信しております。
本メールにご返信いただきましても対応いたしかねますので何卒ご了承下さい。



{% endblock text_body %}